{% extends 'base.html' %}


{% block content %}
<!-- 
<form action="" method="POST">
    {% csrf_token %}
    <input type="text" name="username" id="" placeholder="username">
    <input type="password" name="password" id="" placeholder="password">
    <input type="submit" class="btn btn-seocndary" name="login" id="">
</form> -->
    
<form action="" method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input type="email" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your details with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" id="exampleInputPassword1">
    </div>
    <button type="login" class="btn btn-primary">Login</button>
  </form>


{% for message in messages%}
<div>
    <h2>{{message}}</h2>
</div>
{% endfor %}

{% endblock %}