<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home'%}">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            {% if not user.is_doctor %}
            <a class="nav-link active" aria-current="page" href="{% url 'register' 'doctor' %}">Become a doctor</a>
          </li>
            {% endif %}

            

          
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">hello {{ user.first_name }}</a>
          </li>
          <a class="nav-link active" aria-current="page" href="{% url 'view-appointments' %}">appointments</a>
          {% if user.is_doctor %}
            <a class="nav-link active" aria-current="page" href="{% url 'view-profile' %}">Profile</a>
            {% endif %}

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'logout'  %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'login' 'doctor' %}">Doctor Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'register' 'patient' %}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'login' 'patient' %}">Login</a>
          </li>

          {% endif %}
         
         
        </ul>
        
    
        <form class="d-flex" method="POST" action="{%  url 'search-doctors' %}">
            {% csrf_token %}
            
            <input class="form-control me-2" type="search" placeholder="Search"  name="city"
            aria-label="Search">
        
            <button class="btn btn-outline-secondary" type="submit">Search</button>
          </form>
      </div>
    </div>
  </nav>